<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.imas.dao.ImasIdolDao">

    <select id="selectBirthdayIdol" resultType="ImasIdolDTO" parameterType="java.util.Date">
        SELECT *
        FROM imas_idol i
        <trim prefix="where" prefixOverrides="and | or">
            <if test="birthday != null">
                and DATE_FORMAT(i.`birthday`,'%m-%d') = DATE_FORMAT(#{birthday},'%m-%d')
            </if>
        </trim>
    </select>

    <select id="getMangaIdolList" resultType="MangaIdolListDTO" parameterType="int">
        SELECT `id`,`cn`,`icon`,`type`
        FROM imas_idol i
        WHERE i.production = #{production}
    </select>

    <update id="updateMangaIdol">
        UPDATE manga_detail
        SET debutIdol = #{debutIdol}
        WHERE id = #{mid}
    </update>

    <select id="selectDebutIdol" resultType="String" parameterType="Integer">
        SELECT debutIdol FROM manga_detail WHERE id = #{mid} LIMIT 1
    </select>

    <select id="getMangaDebutIdolList" resultType="MangaIdolListDTO">
        SELECT i.id,i.cn,i.icon,i.type
        FROM imas_idol i
        WHERE i.id IN
        <foreach collection="debutIdols" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>